/*Задание_90_1*/
#elem {
    width: 200px;
    height: 200px;
    background-color: rgb(126, 137, 235);
}


/*Задание_90_2*/
#elem1 {
    width: 300px;
    height: 200px;
    color: white;
    background-color: rgb(77, 238, 153);
    text-align: center;
    font-size: 30px;
}

/*Задание_92*/
#elem3 {
	width: 300px;
	height: 200px;
	border-width: 5px;
	border-style: solid;
	border-color: blue;
}

/*Задание_93*/
#elem4 {
    width: 300px;
    height: 200px;
    border-width: 5px;
    border-style: dotted;
    border-color: red;
}

/*Задание_94*/
#elem5 {
    width: 300px;
    height: 200px;
    border-width: 2px;
    border-style: dashed;
    border-color: orange;
}

/*Задание_96*/
#elem6 {
    width: 300px;
    height: 200px;
    border-width: 10px;
    border-style: double;
    border-color: blue;
}

/*Задание_97_1*/

#elem7 {
    border: 1px solid red;
    width:300px;
    height: 200px;   
}

/*Задание_97_2*/

#elem8 {
    border: 2px dotted blue;
    width:300px;
    height: 200px;
}

/*Задание_97_3*/

#elem9 {
    border: 3px dashed green;
    width:300px;
    height: 200px;
}

/*Задание_97_4*/

#elem10 {
    border: 5px double orange;
    width:300px;
    height: 200px;
}

/*Задание_98_1*/

#elem11 {
    width: 300px;
    height: 200px;
    border-top: 3px solid blue;
    border-right: 3px solid green;
    border-left: 3px solid orange;
    border-bottom: 3px solid red;
}

/*Задание_98_2*/

#elem12 {
    width: 300px;
    height: 200px;
    border-top: 1px solid blue;
    border-right: 3px dotted green;
    border-bottom: 1px solid blue;
    border-left: 3px solid red;
}

/*Задание_99*/

#elem13 {
    height:200px;
    width: 200px;
    border: 1px solid green;
    border-radius: 30px;
}

/*Задание_100*/
#elem14 {
	border-radius: 30px;
	width: 200px;
	height: 200px;
	background-color: rgb(0, 255, 179);
}

/*Задание_101*/
#elem15 {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	border: 1px solid green;
}

/*Задание_103*/
#elem16 {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 30px;

}

/*Задание_104*/

#elem17 {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 30px;
}

/*Задание_105*/
#elem18 {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 30px 20px;
}

/*Задание_107*/
#elem19{
    width: 100px;
    height: 100px;
    border: 1px solid green;
    border-radius: 50%;
}
/*Задание 108*/
body{
    
    background-image: url(bg.png)
}
/*Задание 109_1*/
body{
    background-image: url(bg.png);
    background-repeat: repeat-y;
}

/*Задание 109_2*/

body{
    background-image: url(bg.png);
    background-repeat: repeat-x;
}

/*Задание 110*/

#task_1{
	background-image: url("smile.png");
    background-position: center center;
	background-repeat: no-repeat;
    background-size: 281px 200px;
	width: 250px;
	height: 250px;
	border: 3px solid maroon;
}

#task_2{
    width: 400px;
    height: 400px;
    border: 3px solid maroon;
    background-image: url(cat.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 400px 400px;
    background-attachment: fixed;
    

}

#task_3{
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center center;
	background-image: url(i.png);
	border: 6px dashed maroon;
	padding: 10px;
	width: 563px;
	height: 564px;
}