/*задание 51 */
#h1_51, #h2_51, #h3_51 {
    text-align: center;
}
/*задание 52 */
.task_52{
    h1, h2, h3{
    text-align: center;
    }


h2{
    color: blue;
}
h3{
    font-size: 16px;
    color: red;
}
}
/*задание 53 */
.task_53_1 {
    ul li i {
        color: red;
    }
    
    p i {
        color: green;
    }
}

.task_53_2 {
    
p b i {
    color: red;
} 

}
/*Задание 54 */
.task_54 {
    li b {
        color: red;
    }
}

/*Задание 55_1*/

.eve {
	color: green;
}
.odd {
	color: red;
}

/*Задание 55_2*/
.eee {
    color: red;
}

/*Задание 56*/
.xxx {
    font-size: 30px;
} 

/* Задание 57_1 */

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

/* Задание 57_2 */
.red {
    color: red;
}

.green {
    color: green;
}

/*Задание 58_1 */

.eeee, .zzz {
    line-height: 1.5;
    font-family: Arial;
}

/*Задание 58_2*/

.eeeee, .zzzz, .ggg {
    text-align: center;
    font-family: Arial;
}

.eee {
    font-size: 20px;
}

.zzz {
    font-size: 30px;
}

.ggg {
    font-size: 35px;
} 

/*Задание 59*/

h2.header {
    font-size: 40px;
}

h3.header {
    font-size: 30px;
} 