/*задание 51 */
#h1_51, #h2_51, #h3_51 {
    text-align: center;
}
/*задание 52 */
.task_52{
    h1, h2, h3{
    text-align: center;
    }


h2{
    color: blue;
}
h3{
    font-size: 16px;
    color: red;
}
}
/*задание 53 */
.task_53_1 {
    ul li i {
        color: red;
    }
    
    p i {
        color: green;
    }
}

.task_53_2 {
    
p b i {
    color: red;
} 

}